@import "https://www.w3schools.com/w3css/4/w3.css";
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700";
@import "https://fonts.googleapis.com/css?family=Norican";

$orange: #F26132;
$white: #fff;
$dark-grey: #232323;
$blue: #2465A9;
$light-grey: #e1e1e1;


body, html {
    height: 100%;
    line-height: 1.8;
}

body {
    color: #4d4d4d;
    font: 17px "Source Sans Pro", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro", Arial, sans-serif;
}

a {
    text-decoration: none;
}

#myNavbar {
    .logo {
        padding: 1.4em 0 1.4em 2em;
        max-width: 8em;
    }
    .w3-bar-item {
        padding: 1.7em 2em;
        background-color: $white;
        color: $blue;
        font-weight: 600;   
        text-decoration: none;
    }
}

.w3-container {
    padding: 8em 5em; 
    max-width: 980px;
    margin: 0 auto;

    &.w3-full-width {
        max-width: 100%;
    }
}

.w3-sidebar {
    top: 0;
    background-color: $blue;
    color: #fff;
    width: 60%;
}

.bgimg-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png") fixed;
    background-color: $blue;
    min-height: 95%;
    margin-top: 4em;
    text-align: center;
    vertical-align: middle;
}

#partners {
    padding: 3em 0;
    text-align: center;
    background: $light-grey;
    filter: grayscale(1);
    img {
        padding: 1em 1.3em;
    }
}

h1,
.w3-jumbo {
    display: block;
    line-height: 1em;
    font-family: "Norican";
}

.w3-hero {
    margin: 0 auto;
    max-width: 60em;
    padding: 0 2em;
}

.w3-button {
    margin: 2em 0;
    padding: 1.2em 1.6em;
    background-color: $orange;
    color: $white;
    font-weight: 600;
    border-radius: 4px;
    box-shadow: 0 2px 5px 5px rgba($dark-grey, .2);
}

.w3-color-blue {
    color: $blue;
}

.w3-background-blue {
    background-color: $blue;
}

.w3-background-light-blue {
    background-color: rgba($blue,.15);
}

.w3-background-orange {
    background-color: $orange;
}

.w3-border-top {
    border-top: 1px rgba($blue,.15) solid;
}

.w3-border-dashed {
    border: 2px rgba($blue,.4) dashed;
    margin-bottom: 3em;
}

.w3-bold {
    font-weight: 600;
}

.w3-padding-32 {
    padding: 32px 0;
}

.w3-padding-top-32 {
    padding-top: 32px;
}

.w3-padding-64 {
    padding: 64px 0;
}

.w3-padding-96 {
    padding: 96px 0;
}

.contact-form {
    max-width: 35em;
    margin: 0 auto;
}